#section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin :50px;
    flex-direction: column;
}

#section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin :50px;
    flex-direction: column;
}
#icon{
    margin : 30px;
}
#output{
    margin-left: 60px;
}
#city{
    border-radius: 15px;
    text-align: center;
    background-color: antiquewhite;
    height: 30px;
    width: 80px;
}
body{
    background: url("https://drive.google.com/uc?id=15USejoAiIbF9HtmSLJhprcX67xdo8WUR");
    color: whitesmoke;
}
#search{
    border-radius: 20px;
    text-align: center;
    background-color: antiquewhite;
    height: 25px;
    margin: 15px;
}