
  body{
    font-family: sans-serif;
    font-size: 17px;
  }
  progress{
    -webkit-appearance: none;
 width:75%;
 height:15px;
}
h1,h2,p{
    margin:20px;
}
#width{
    width:50%;
}
  nav{
    padding:18px 70px 18px 70px;
      border: 1px solid #000;
      display: block;
  }
  header{
    padding:18px;
    border: 1px solid #000;}
  #header1{
        display:flex;
        justify-content: space-between;
        padding:10px;
        margin: 20px;
    }  
  label{
    width: 240px;
    display: inline-block;
    text-align: right;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #width input{
      width:40px;
  }
  #cvv-width input{
    width:40px;
  }
  select { 
    position: relative;
    min-width: 160px;
    padding: 12px 16px;
    margin: 0 10px 0 10px;
  }
  input{
      padding:10px 0 10px 0;
      margin:10px;
  }
  button{
    margin-top: 20px;
    margin-right: 50px;
    float:right;
    border:1px solid #000;
    padding:10px 60px;
    border-radius: 18px;
}
@media screen and (max-width:450px){
    h1,h2,p{
      padding:10px 0 10px 0;
      margin:0;}
      label{
          text-align: left;
      }
      body{
          margin-left: 40px;
      }
    }
    a:link {
        text-decoration: none;
        color:grey;
      }
      
      a:visited {
        text-decoration: none;
        color:grey;
      }
      
      a:hover {
        text-decoration: none;
        color:green;
      }
      
      a:active {
        text-decoration:none;
      }
